.notification-wrapper {
  background: #f5f5f5;
  width: 350px;
  padding: 10px;
  position: absolute;
  top: 55px;
  align-items: center;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
}

.notification-wrapper::-webkit-scrollbar {
  display: none;
}

.noti-item {
  display: flex;
  color: #000;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}
/* .notification-wrapper.arrow-top:after {
  content: " ";
  position: absolute;
  left: 0;
  top: -10px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
} */

.alias span{
  padding: 10px;
  border-radius: 100%;
  margin-right: 15px;
}

.noti-icon {
  color: #000;
}

.noti-content {
  text-align: left;
}

.notify-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  background: #FFFFFF;
  padding: 4px;
  max-width: 34px;
}

span.noti-count {
  position: absolute;
  font-size: 13px;
  background: red;
  border-radius: 100%;
  padding: 0px 1px 0px 4px;
  top: -4px;
  display: inline-block;
  min-width: 16px;
}