.notification-wrapper {
  background: #fff;
  width: 350px;
  position: absolute;
  top: 55px;
  align-items: center;
  border-radius: 4px;
  max-height: 350px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.notification-wrapper::-webkit-scrollbar {
    width: 8px;   
}

.notification-wrapper::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
   
.notification-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.noti-item {
  display: flex;
  color: #000;
  padding: 10px 20px;
  align-items: center;
  font-size: 14px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}

.noti-item.read {
  background: #fff;
}

.alias span{
  padding: 10px;
  border-radius: 100%;
  margin-right: 15px;
}

.noti-icon {
  color: #000;
}

.noti-content {
  text-align: left;
}

.notify-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  background: #FFFFFF;
  padding: 4px;
  max-width: 34px;
}

span.noti-count {
  position: absolute;
  font-size: 12px;
  background: red;
  border-radius: 100%;
  top: 0px;
  left: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.clr-noti {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.clr-noti span {
  background: #f67f16;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px;
  cursor: pointer;
  border-radius: 10px;
}

.feedback {
  position: absolute;
  top: 120px;
  left: 0px;
}

.feedback  .feedback-collapse {
  background: #f5f5f5;
  z-index: 99 !important;
  position: absolute;
  box-shadow: 0px 4px 4px 4px #00000040;
  transition: width 0.0s ease !important;
  width: 300px !important;
}

button.feedback-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 48px;
  box-shadow: 0px 4px 4px 0px #00000040 !important;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.feedback-btn .MuiSvgIcon-root{
  margin-top: 4px;
}

button.text-white.feedback-btn.feedback-btn-inner.btn.btn-secondary {
  width: 322px;
  display: flex;
  justify-content: space-between;
}

.feedback-form {
  padding: 20px;
}

button.feedback-btn:focus {
  box-shadow: 0px 4px 4px 0px #00000040 !important;
}

.feedback-form textarea#comments {
  background-color: #fff !important;
}

.feedback-footer{
  display: flex;
  justify-content: flex-end;
}

.feedback-footer button:first-child {
  margin-right: 10px;
  background: #999999;
  border: #999999;
}

.feedback-close-icon{
  position: absolute;
  right: 20px;
  top: 16px;
  background: #000;
  color: #fff;
  font-size: 16px !important;
  border-radius: 100px;
}

.feedback-form  .drop-area {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-form  .drop-area .click-to-browse{
  display: block;
    width: 120px;
    font-size: 14px;
}

.selected-file {
  margin-top: 10px;
}