.notification-wrapper {
  background: #fff;
  width: 350px;
  position: absolute;
  top: 55px;
  align-items: center;
  border-radius: 4px;
  max-height: 350px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.notification-wrapper::-webkit-scrollbar {
    width: 8px;   
}

.notification-wrapper::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
   
.notification-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.noti-item {
  display: flex;
  color: #000;
  padding: 10px 20px;
  align-items: center;
  font-size: 14px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}

.noti-item.read {
  background: #fff;
}

.alias span{
  padding: 10px;
  border-radius: 100%;
  margin-right: 15px;
}

.noti-icon {
  color: #000;
}

.noti-content {
  text-align: left;
}

.notify-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  background: #FFFFFF;
  padding: 4px;
  max-width: 34px;
}

span.noti-count {
  position: absolute;
  font-size: 12px;
  background: red;
  border-radius: 100%;
  top: 0px;
  left: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.clr-noti {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.clr-noti span {
  background: #f67f16;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px;
  cursor: pointer;
  border-radius: 10px;
}