.loader-icon {
  position: absolute;
  top: 50%;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 80px;
  z-index: 999;
  cursor: pointer;
}

.txt-fld-search-main {
  padding-left: 40px !important
}

.modal-cls-btn {
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  padding: 2px;
  cursor: pointer;
}

.form-label-width {
  min-width: 100px;
  text-align: right;
  padding-right: 10px;
}

.form-label-sm-width {
  min-width: 40px;
  text-align: right;
  padding-right: 10px;
}

.txt-fld-search-icon {
  position: absolute;
  top: 9px;
  left: 66px;
  z-index: 999;
}

.fltr-bdg-cls-icon {
  font-size: 14px !important;
  background: #fff;
  color: #F57F17;
  border-radius: 50px;
  margin-left: 10px;
}

.selected-filter-wrapper {
  margin: 20px auto;
}

.selected-filter-label {
  text-align: right;
  margin-top: 21px !important;
}

.selected-filter-wrapper .rounded-pill {
  margin: 2px 6px 10px 0px;
  font-size: 14px;
}

.selected-filter-wrapper label {
  margin-right: 10px;
}

.notes-name-date {
  min-width: 200px;
  display: inline-block;
  margin-right: 20px;
}

.notes-modal .list-group.list-group-flush {
  height: 200px;
  overflow: auto;
}

.notes-modal .list-group-item {
  display: flex;
  justify-content: flex-start;
}

.alt-title-icon {
  background: #f5f5f5;
  margin-left: 10px;
  padding: 5px;
}

.dark-theme .alt-title-icon {
  background: #333333;
}

.filter-modal-wrapper .custom-date-picker input {
  background: #f5f5f5;
}

.dark-theme .custom-date-picker svg {
  color: #fff;
}

.dark-theme .custom-date-picker input {
  background: #333333 !important;
  color: #fff;
}

/* react-bootstrap table css */

.srch-dg-tbl thead th, .srch-dg-tbl td {
  font-weight: 400;
  font-size: 14px;
  max-width: 180px;
  padding: 14px 4px !important;
}

.srch-dg-tbl thead th {
  font-weight: 700;
  position: relative;
}

.srch-dg-tbl tbody {
  border-top: none !important;
}

.srch-dg-tbl thead tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd !important;
}

.srch-dg-tbl .form-check-input {
  width: 20px !important;
  height: 20px !important;
}

span.sort-icons {
  visibility: hidden;
}

.header-filter-icon {
  position: absolute;
  right: 0;
}

.srch-dg-tbl thead th:hover span.sort-icons {
  visibility: visible;
}

span.sort-icons svg {
  color: #979797;
  width: 22px;
  height: 22px;
  padding: 2px;
}

span.sort-icons svg:hover {
  background-color: rgb(250, 246, 246);
  border-radius: 50px;
  padding: 2px;
}

.srch-dg-tbl thead th:not(:first-child) {
  min-width: 123px !important;
}

.srch-dg-tbl thead th:first-child, .srch-dg-tbl tbody td:first-child {
  max-width: 40px !important;
}

.srch-dg-tbl thead th#source {
  min-width: 90px !important;
  text-align: center;
}

.srch-dg-tbl thead th#accountManager {
  min-width: 160px !important;
  /* text-align: center; */
}

.srch-dg-tbl tbody td#url, .srch-dg-tbl tbody td#contact  {
    width: 180px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.selected-row {
  background-color: rgba(25, 118, 210, 0.08) !important;
}

.action-icons {
  display: flex;
  justify-content: space-evenly;
}

.srch-dg-tbl .extended-list {
  background: #F5F5F5;
}

.srch-dg-tbl .soruce-box {
  border-radius: 4px;
  padding: 2px 5px;
  max-width: 68px;
  display: flex;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: relative;
}

.srch-dg-tbl .soruce-box.GRD , .srch-dg-tbl .soruce-box.third_party {
  background-color: rgb(244, 67, 54, 0.6);
}

.srch-dg-tbl .soruce-box.CP3, .srch-dg-tbl .soruce-box.UMG {
  background-color: rgba(245, 127, 23, 0.6);
}

.srch-dg-tbl .soruce-box.REP {
  background-color: rgba(251, 192, 45, 0.6);
}

.srch-dg-tbl .soruce-box.FS {
  background-color: rgba(245, 250, 32, 0.6)
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.disabled {
  color: #bcbaba;
  pointer-events: none;
}

.filter-popover.popover {
  max-width: 500px !important;
  min-width: 480px;
}

.clmn-filter-bdy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clmn-filter-bdy .cp3-react-select {
  flex-basis: 130px;
}

.clmn-filter-bdy input {
  padding: 5px;
  position: relative;
}

.filter-close {
  position: absolute;
  right: 130px;
  font-size: 14px !important;
}

.hd-list {
  margin: 10px 28px;
}

.hd-cl-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hide-ttl-strips {
  background: #f67e15;
  color: #fff;
  display: flex;
  padding: 3px 10px;
  margin: 5px 0px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.hide-ttl-strips .MuiSvgIcon-root {
  font-size: 14px;
}

.policy-popover {
  min-width: 40%;
  cursor: pointer;
}
.albumList-popover {
  max-width: 100% !important;
  background-color: #f5f5f5;
  cursor: pointer;
}
.albumList-popover .popover-body{
  background: #f5f5f5;
  max-width: 600px;
  max-height: 200px;
  overflow: auto;
}
.albumList-popover ul {
  margin-bottom: 0;
  list-style: none;
  padding: 5px;
}
.po-exception {
  background: #f5f5f5;
  margin-top: 3px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.policy-popover-bg {
  background: #f5f5f5;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.po-plcy-name, .po-plcy-pltfm {
  width: 50%;
}

.po-plcy-action, .po-plcy-duration, .po-plcy-when, .po-plcy-until {
  width: 25%;
}

.plcy-bdy-pad {
  padding: 7px !important;
  background: #fff;
}

.exe-label {
  font-weight: bold;
  background: #FBC02D;
  padding: 4px 10px;
  border-radius: 4px;
}

.policy-tl-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.policy-tl-nav span.active {
  background: #f67e15;
  color: #fff;
  border-radius: 100px;
  padding: 6px 15px;
  font-weight: bold;
}

.policy-tl-nav span.non-active {
  background: #F5F5F5;
  border-radius: 100px;
  padding: 6px 15px;
  display: inline-block;
}

.policy-tl-nav span {
  padding: 6px;
}

.dashboard-wrapper.container-fluid {
  padding-top: 100px !important;
}

.search-table .table-responsive {
  height:600px;
  overflow-y:scroll;
  /* overflow-x: scroll; */
} 

.search-table .table-responsive::-webkit-scrollbar:horizontal{
  width: 8px;   
}

.search-table .table-responsive::-webkit-scrollbar:vertical{
  width: 8px;   
}

.search-table .table-responsive::-webkit-scrollbar-thumb {
  background-color: #ccc;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.search-table .table-responsive {
  /* overflow-x: hidden; */
}

.search-table .table-responsive thead tr{
  background: white;
  position: sticky;
  top: -1px;
  z-index: 10;
}

.dark-theme .search-table .table-responsive thead tr {
   background: #000; 
}

.search-table .table-responsive th::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: -1px;
  width: calc( 100% + 1px);
  height: 1px;
  background-color: #dee2e6;
}

.form-control:disabled, .form-control[readonly] {
  color: #999;
}

.margin-auto {
  margin: auto;
}

.duplicate-isrc-warn {
  margin: 0;
  padding: 10px;
  text-align: center;
  background: #FBC02D;
  border-radius: 21px;
  width: 100% !important;
  color: #716f6f;
}

.dup-warn{
  border: 2px solid #F88E86 !important;
}

#dropdown-item-button.dropdown-toggle::after{
  display: none !important;
}

#dropdown-item-button.dropdown-toggle:focus{
  outline: none !important;
  box-shadow:none;
}

.vl {
  border-left: 2px solid #ddd;
  height: 30px;
  position: absolute;
  top: -15px;
}

.hl {
  border-bottom: 2px solid #ddd;
  width: 20px;
  display: inline-block;
}

.extended-0 .line-wrapper {
  display: inline-block;
  padding-right: 15px;
  position: relative;
}

.extended-list td {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
  /* padding: 25px 0px !important; */
}

.arrow-icons{
  position: absolute;
  right: -1px;
}

.cursor-pointer {
  cursor: pointer;
}

.rights-cards {
    background: #F5F5F5;
    width: 100%;
    min-height: 250px;
    margin-top: 10px;
    position: relative;
}
.strong {
  font-weight: bold;
}

.rights-cards .copy-icon{
  position: absolute;
  right: 4px;
  top: 4px;
  color: #F57F17;
}

.rights-cards .rights-data{
  padding: 10px 26px;
  overflow-wrap: anywhere !important;
}

.rights-cards span.copied {
  position: absolute;
  right: 0px;
  top: -21px;
  font-style: italic;
  font-size: 13px;
  color: #979797;
}