.loader-icon {
  position: absolute;
  top: 50%;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 80px;
  z-index: 999;
  cursor: pointer;
}

.txt-fld-search-main {
  padding-left: 40px !important
}

.modal-cls-btn {
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  padding: 2px;
  cursor: pointer;
}

.form-label-width {
  min-width: 100px;
  text-align: right;
  padding-right: 10px;
}

.form-label-sm-width {
  min-width: 40px;
  text-align: right;
  padding-right: 10px;
}

.txt-fld-search-icon {
  position: absolute;
  top: 9px;
  left: 66px;
  z-index: 999;
}

.fltr-bdg-cls-icon {
  font-size: 14px !important;
  background: #fff;
  color: #F57F17;
  border-radius: 50px;
  margin-left: 10px;
}

.selected-filter-wrapper {
  margin: 20px auto;
}

.selected-filter-wrapper .rounded-pill {
  margin: 2px 6px 10px 0px;
  font-size: 14px;
}

.selected-filter-wrapper label {
  margin-right: 10px;
}

.notes-name-date {
  min-width: 200px;
  display: inline-block;
  margin-right: 20px;
}

.notes-modal .list-group.list-group-flush {
  height: 200px;
  overflow: auto;
}

.notes-modal .list-group-item {
  display: flex;
  justify-content: flex-start;
}

.alt-title-icon {
  background: #f5f5f5;
  margin-left: 10px;
  padding: 5px;
}

.dark-theme .alt-title-icon {
  background: #333333;
}

.filter-modal-wrapper .custom-date-picker input {
  background: #f5f5f5;
}

.dark-theme .custom-date-picker svg {
  color: #fff;
}

.dark-theme .custom-date-picker input {
  background: #333333 !important;
  color: #fff;
}

/* react-bootstrap table css */

.srch-dg-tbl thead th, .srch-dg-tbl td {
  font-weight: 400;
  font-size: 14px;
  /* color: #212121; */
  padding: 14px 10px !important;
}

.srch-dg-tbl thead th {
  font-weight: 700;
}

.srch-dg-tbl tbody {
  border-top: none !important;
}

.srch-dg-tbl thead tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd !important;
}

.srch-dg-tbl .form-check-input {
  width: 20px !important;
  height: 20px !important;
}

span.sort-icons {
  visibility: hidden;
}

.srch-dg-tbl thead th:hover span.sort-icons {
  visibility: visible;
}

span.sort-icons svg {
  color: #979797;
  width: 25px;
  height: 25px;
  padding: 2px;
}

span.sort-icons svg:hover {
  background-color: rgb(250, 246, 246);
  border-radius: 50px;
  padding: 2px;
}

.srch-dg-tbl thead th:not(:first-child) {
  min-width: 100px !important;
}

.srch-dg-tbl thead th:first-child {
  min-width: 40px !important;
}

.selected-row {
  background-color: rgba(25, 118, 210, 0.08) !important;
}

.action-icons {
  display: flex;
  justify-content: space-evenly;
}

.srch-dg-tbl .extended-list {
  background: #F5F5F5;
}

.srch-dg-tbl .soruce-box {
  border-radius: 4px;
  padding: 2px 0px;
  color: #000;
  max-width: 65px;
  display: block;
  text-align: center;
}

.grd {
  background-color: rgb(244, 67, 54, 0.6);
}

.cp3 {
  background-color: rgba(245, 127, 23, 0.6);
}