/* button {
    color: #fff;
    border-radius: 2px !important;
    font-size: 14px;
    font-weight: 500;
    border: none !important;
}

button.btn.btn-primary {
    background-color: #01579B;
}

button.btn.btn-secondary {
    background-color: #F57F17;
}

button.btn.btn-light {
    background-color: #F5F5F5;
} */

.mr-btn {
    margin-right: 10px;
}

.no-border-rd {
    border-radius: 0px;
}