.policy-wrapper {
    padding: 10px 61px;
}

.pt-70 {
    padding-top: 70px;
}

.policy-wrapper .sub-title {
    color: #999999;
    margin-bottom: 10px;
}

.policy-wrapper .heading {
    margin: 0;
}

.light-theme .create-policy-wrapper {
    background-color: #F5F5F5;
}

.create-policy-wrapper {
    padding: 10px 40px;
}

.create-policy-wrapper .form-control {
    background-color: #fff !important;
}

.create-policy-wrapper.exceptions .form-control {
    background-color: #F5F5F5 !important
}

.create-policy-wrapper.exceptions .cp3-react-select .css-cqoyn1-control {
    background-color: #F5F5F5 !important;
}

.create-policy-wrapper .cp3-react-select .css-cqoyn1-control {
    background-color: #FFF;
}

.create-policy-wrapper .form-check {
    margin-right: 10px;
}

.policy-items {
    padding: 15px 40px 0px;
}

.dark-theme .create-policy-wrapper.exceptions {
    background: #000;
}

.create-policy-wrapper.exceptions {
    background: #fff;
}

.create-policy-wrapper .exception-field {
    padding: 8px;
    border-radius: 4px;
    margin-top: 30px;
}

.exception-summary {
    padding: 10px 40px;
    border-radius: 4px;
}

.create-policy-wrapper.exception-summary {
    margin: 25px auto;
}

.select-platform-images {
    width: 75px;
    height: 18px;
    display: flex;
}

.select-platform-images img {
    width: 100%;
    height: 100%;
}

.summary-headings {
    padding: 0px 40px;
}

.exception-close {
    position: absolute;
    right: -25px;
    top: 36px;
}


.form-check-input {
    margin-right: 10px;
    font: inherit;
    color: currentColor;
    width: 1.15em !important;
    height: 1.15em !important;
}

.dark-theme .select-val-section>div {
    color: #FFF;
}

.rbt-close {
    background: #000 !important;
    color: #fff !important;
    border-radius: 50px !important;
    padding: 2px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}