$primary:#01579B;
$white:#ffffff;
$secondary:#F57F17;
$secondary-light:#FBC02D;
$dark-yellow:#FFF176;
$dark:#212121;
$gray:#9E9E9E;
$header-theme:#212121;
$light:#F5F5F5;
$sky-blue:#4FC3F7;
$light-blue:#B3E5FC;
$dark-theme-bg:#000000;
$dark-light:#333333;
$dark-v1: #111111;

// $primary:#0288D1;
// $white:#ffffff;
// $secondary:#004D40;
// $secondary-light:#009688;
// $dark-yellow:#80CBC4;
// $dark:#212121;
// $gray:#9E9E9E;
// $header-theme:#009688;
// $light:#F5F5F5;
// $sky-blue:#4FC3F7;
// $light-blue:#B3E5FC;
// $dark-theme-bg:#000000;
// $dark-light:#333333;
// $dark-v1: #111111;