$primary:#01579B;
$white:#ffffff;
$secondary:#F57F17;
$light-yellow:#FBC02D;
$dark-yellow:#FFF176;
$dark:#212121;
$gray:#9E9E9E;
$header-theme:#212121;
$light:#F5F5F5;
$sky-blue:#4FC3F7;
$light-blue:#B3E5FC;

$theme-colors: (
  "primary": $primary,
  "secondary": #F57F17,
  "secondary-light":#FBC02D,
  "header-theme":#212121,
  "white":#ffffff,
  "light":#F5F5F5,
);
$border-radius:  2px;

.dark-theme {
  background-color: #000000;
  color: #ffffff;
  $body-color: #fff;
  
  .modal-content {
    background: #212121;
  }
  .btn.btn-light {
    background-color: #333333;
    color: #fff;
    border-color: #333333;
  }
  .form-control{
    background-color: #333333 !important;
    border-color: #333333;
    color: #fff !important;
  }
  //MUI DATA GRID THEME CHANGES FOR DARK BACKGROUND
  .MuiDataGrid-menuList, .MuiDataGrid-filterForm {
    background: #333333;
  }
  .MuiInput-root, .MuiInputLabel-root {
    color: #ffffff;
  }
  .MuiCheckbox-root{
    color: #ddd
  }
  .MuiButtonBase-root, .MuiPaginationItem-ellipsis {
    color: #fff;
  }
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
  $body-color: #111;
  .close-icon, .txt-fld-search-icon {
    color: #000;
  }
}

.MuiPaginationItem-root.Mui-selected {
  background-color:#F57F17 !important;
}
.Mui-checked {
  color:#F57F17 !important;
}

// $form-check-input-width:                 1.5em !default;
// $form-check-input-bg:$white;                     //$input-bg !default;
$form-check-input-border:1px solid #9E9E9E;                 //1px solid rgba($black, .25) !default;
$form-check-input-border-radius: 2px;         //.25em !default;
$form-check-input-focus-box-shadow: none;      //$input-btn-focus-box-shadow !default;
$form-check-input-checked-bg-color:$secondary;
$form-check-input-checked-border-color: $white;  //$form-check-input-checked-bg-color !default;
$form-check-radio-checked-bg-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$secondary}'/></svg>") !default;

@import "~bootstrap/scss/bootstrap";
