@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiDataGrid-root {
  font-family: 'Roboto Condensed' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom css */
.min-row-ht-100 {
  min-height: 100px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.f-width {
  width: 100%;
}

/* TODO */

.form-control {
  border: none !important;
  background: #F5F5F5 !important;
}

.form-check-input:checked {
  background-color: #F57F17 !important;
  border-color: #F57F17 !important;
}

.form-control:focus, .form-control:active, .form-control:hover {
  box-shadow: none !important;
}

.nav-link {
  color: #fff !important;
}

.cp3-header {
  height: 62px;
}

.cp3-logo {
  height: 62px;
  transform: scale(1.5);
}

.cp3-header .nav {
  height: 62px;
  align-items: center;
}

.cp3-header .nav-item {
  min-width: 120px;
  text-align: center;
  position: relative;
}

.cp3-header .nav-item a.active {
  color: #FBC02D !important;
}

.cp3-header .nav-item a {
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
}

.mr-btn {
  margin-right: 10px;
}

.no-border-rd {
  border-radius: 0px;
}

.auto-complete-comp {
  position: relative;
}

.auto-complete-comp .MuiSvgIcon-root {
  position: absolute;
  z-index: 99;
  top: 7px;
  left: 10px;
  color: #636363;
}


.auto-complete-comp input {
  padding-left: 35px;
  border-radius: 4px;
}

.mr-20 {
  margin-right: 20px;
}