@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom css */
.min-row-ht-100 {
  min-height: 100px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.f-width {
  width: 100%;
}

/* TODO */

.form-control {
  border: none !important;
  background: #F5F5F5 !important;
}

.form-control:focus, .form-control:active, .form-control:hover {
  box-shadow: none !important;
}

.nav-link {
  color: #fff !important;
}

.cp3-header {
  height: 62px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.cp3-logo {
  height: 62px;
  transform: scale(1.5);
  margin-left: 40px;
}

.cp3-header .nav {
  height: 62px;
  align-items: center;
}

.cp3-header .nav-item {
  min-width: 120px;
  text-align: center;
  position: relative;
}

.cp3-header .nav-item a.active {
  color: #FBC02D !important;
}

.cp3-header .nav-item a {
  color: #fff !important;
  text-decoration: none;
}

.mr-btn {
  margin-right: 10px;
}

.no-border-rd {
  border-radius: 0px;
}

.auto-complete-comp {
  position: relative;
}

.auto-complete-comp .MuiSvgIcon-root {
  position: absolute;
  z-index: 99;
  top: 7px;
  left: 10px;
  color: #636363;
}


.auto-complete-comp input {
  padding-left: 35px;
  border-radius: 4px;
}

.mr-20 {
  margin-right: 20px;
}

.footer-actions>* {
  margin: auto 5px;
}

input[type="date"] {
  width: 140px;
}

.cp3-header .nav-item-link a:hover .line, .cp3-header .nav-item a.active .line {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #FBC02D;
  top: 40px;
  left: 10px;
}


.was-validated .form-control:invalid, .form-control.is-invalid {
  border: 1px solid #dc3545 !important;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border: none !important;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border: none !important;
}

.was-validated .form-check-input:valid~.form-check-label, .form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid, .form-check-input.is-valid {
  color: inherit !important;
}

.invalid-feedback {
  background: #BD1818;
  color: #fff !important;
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 0px !important;
  width: auto !important;
  font-size: 12px;
}

.was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip, .is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip {
  display: inline-block !important;
}

.was-validated :invalid~.cp3-react-select, .is-invalid~.cp3-react-select {
  border: 1px solid #dc3545 !important;
  border-radius: 4px;
}